@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 */
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(https://brick.a.ssl.fastly.net/Linux+Libertine:400,400i,700,700i);
/* line 2, /Users/kenyonj/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/neat-1.5.1/app/assets/stylesheets/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_new_url_page.scss */
#wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 7px solid #656d78;
  margin-top: 35px;
  border-radius: 2px;
}
/* line 15, /Users/kenyonj/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/bourbon-3.2.0/app/assets/stylesheets/addons/_clearfix.scss */
#wrapper:after {
  content: "";
  display: table;
  clear: both;
}
/* line 14, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_new_url_page.scss */
#wrapper #site-title {
  font-family: 'Oswald', 'sans-serif';
  font-size: 5em;
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.7);
  background: #fc6e51;
}
/* line 21, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_new_url_page.scss */
#wrapper #site-title a {
  text-decoration: none;
}
/* line 25, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_new_url_page.scss */
#wrapper #site-title a:visited {
  color: rgba(255, 255, 255, 0.7);
}
/* line 30, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_new_url_page.scss */
#wrapper #site-subtitle {
  font-family: 'Oswald', 'sans-serif';
  font-variant: small-caps;
  font-size: 2em;
  padding-bottom: 5px;
  color: rgba(255, 255, 255, 0.6);
  background: #e9573f;
}
/* line 39, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_new_url_page.scss */
#wrapper #new-form-wrapper {
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* line 45, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_new_url_page.scss */
#wrapper #new-form-wrapper #new-url-form {
  padding-top: 10px;
}
/* line 48, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_new_url_page.scss */
#wrapper #new-form-wrapper #new-url-form form {
  padding: 0 1.5em;
}
/* line 52, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_new_url_page.scss */
#wrapper #new-form-wrapper #new-url-form .form-item {
  margin-bottom: 0.75em;
  width: 100%;
}
/* line 57, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_new_url_page.scss */
#wrapper #new-form-wrapper #new-url-form .form-item input {
  background: #ffffff;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
}
/* line 67, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_new_url_page.scss */
#wrapper #new-form-wrapper #new-url-form .form-item input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}
/* line 72, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_new_url_page.scss */
#wrapper #new-form-wrapper #new-url-form .button {
  background: #656d78;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 40px;
  font-size: 1.5em;
  width: 25%;
  letter-spacing: 0.05em;
  border-radius: 3px;
  font-variant: small-caps;
  transition: background 0.3s ease-in-out;
}
/* line 86, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_new_url_page.scss */
#wrapper #new-form-wrapper #new-url-form .button:hover {
  background: #E9573F;
}

/* line 1, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_show_url_page.scss */
#show-url-page {
  font-family: 'Linux Libertine';
  padding: 15px;
}
/* line 5, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_show_url_page.scss */
#show-url-page #original-url {
  font-size: 1em;
  font-variant: small-caps;
  padding-bottom: 15px;
}
/* line 10, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_show_url_page.scss */
#show-url-page #original-url .url {
  font-style: italic;
  font-variant: normal;
}
/* line 16, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_show_url_page.scss */
#show-url-page #short-url {
  font-size: 1.2em;
  font-variant: small-caps;
  line-height: 30px;
  margin: auto;
}
/* line 22, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_show_url_page.scss */
#show-url-page #short-url img {
  position: relative;
  top: 3px;
  margin-left: 5px;
}
/* line 28, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_show_url_page.scss */
#show-url-page #short-url .url {
  font-style: italic;
  font-weight: 700;
  font-variant: normal;
  text-decoration: none;
  color: black;
}
/* line 35, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_show_url_page.scss */
#show-url-page #short-url .url:hover {
  color: rgba(0, 0, 0, 0.6);
}

/* line 4, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_errors.scss */
.overlay {
  background: black;
  opacity: .5;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}

/* line 14, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_errors.scss */
.box {
  position: fixed;
  top: -200px;
  left: 30%;
  right: 30%;
  background-color: #fff;
  color: #7F7F7F;
  padding: 20px;
  border: 2px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-box-shadow: 0 1px 5px #333;
  -webkit-box-shadow: 0 1px 5px #333;
  z-index: 101;
}

/* line 30, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_errors.scss */
a.boxclose {
  float: right;
  margin-top: -20px;
  margin-right: -15px;
  cursor: pointer;
  color: #fff;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
}

/* line 43, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_errors.scss */
.boxclose:before {
  content: "×";
}

/* line 47, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_errors.scss */
.box h1 {
  font-family: 'Oswald', 'sans-serif';
  border-bottom: 1px dashed #7F7F7F;
  margin: -20px -20px 0px -20px;
  padding: 10px;
  background-color: #fc6e51;
  color: white;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  -khtml-border-top-right-radius: 5px;
}

/* line 61, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_errors.scss */
#box {
  font-family: 'Oswald', 'sans-serif';
  font-variant: small-caps;
}
/* line 64, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_errors.scss */
#box #error-list {
  list-style-type: none;
  font-variant: normal;
  padding-top: 5px;
}
/* line 68, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_errors.scss */
#box #error-list .error-item {
  font-weight: 700;
}

/* line 1, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_about_bar.scss */
#about-bar {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Linux Libertine';
  font-size: 13px;
  padding-top: 3px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
/* line 15, /Users/kenyonj/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/bourbon-3.2.0/app/assets/stylesheets/addons/_clearfix.scss */
#about-bar:after {
  content: "";
  display: table;
  clear: both;
}
/* line 10, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_about_bar.scss */
#about-bar a {
  text-decoration: none;
}
/* line 14, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_about_bar.scss */
#about-bar a:link {
  color: #FC6E51;
}
/* line 18, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/_about_bar.scss */
#about-bar a:visited {
  color: #FC6E51;
}

/* line 24, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/application.css.scss */
body {
  margin: 5px;
  padding: 0;
}

/* line 29, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/application.css.scss */
#bookmarklet {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Oswald', 'sans-serif';
  font-weight: 200;
  color: rgba(0, 0, 0, 0.6);
}
/* line 35, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/application.css.scss */
#bookmarklet a {
  text-decoration: none;
}
/* line 38, /Users/kenyonj/code/apps/shortenit/app/assets/stylesheets/application.css.scss */
#bookmarklet a:link {
  color: #FC6E51;
}
