$main-color: #FC6E51;
$secondary-color: #E9573F;
$border-color: #656D78;
$tertiary-color: #656D78;

#wrapper {
  @include outer-container;

  text-align: center;
  border: 7px solid $border-color;
  margin-top: 35px;
  border-radius: 2px;

  #site-title {
    font-family: 'Oswald', 'sans-serif';
    font-size: 5em;
    padding-bottom: 15px;
    color: rgba(white, .7);
    background: $main-color;

    a {
      text-decoration: none;
    }

    a:visited {
      color: rgba(white, .7);
    }
  }

  #site-subtitle {
    font-family: 'Oswald', 'sans-serif';
    font-variant: small-caps;
    font-size: 2em;
    padding-bottom: 5px;
    color: rgba(white, .6);
    background: $secondary-color;
  }

  #new-form-wrapper {
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    #new-url-form {
      padding-top: 10px;

      form {
        padding: 0 1.5em;
      }

      .form-item {
        margin-bottom: 0.75em;
        width: 100%;
      }

      .form-item input {
        background: #ffffff;
        border: none;
        border-bottom: 2px solid #e9e9e9;
        color: #666;
        font-size: 1em;
        height: 50px;
        transition: border-color 0.3s;
      }

      .form-item input:focus {
        border-bottom: 2px solid #c0c0c0;
        outline: none;
      }

      .button {
        background: $tertiary-color;
        border: none;
        color: #fff;
        cursor: pointer;
        height: 40px;
        font-size: 1.5em;
        width: 25%;
        letter-spacing: 0.05em;
        border-radius: 3px;
        font-variant: small-caps;
        transition: background 0.3s ease-in-out;
      }

      .button:hover {
        background: #E9573F;
      }
    }
  }
}
