<% if target.errors.any? %>
  <div class="overlay" id="overlay" style="display:none;"></div>
  <div class="box" id="box">
    <a class="boxclose" id="boxclose"></a>
    <h1>ERRORS</h1>
    <div id='error-list'>
      <% target.errors.full_messages.each do |message| %>
        <div class='error-item'><%= message %></div>
      <% end %>
    </div>
  </div>
  <script>
  $(document).ready(function() {
    $('#overlay').fadeIn(200,function(){
      $('#box').animate({'top':'150px'},300);
    });

    $('#boxclose').click(function(){
      $('#box').animate({'top':'-200px'},500,function(){
        $('#overlay').fadeOut('fast');
      });
    });
  });
  </script>
<% end %>
