<!DOCTYPE html>
<html>
<head>
  <title>ShortenIT</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='wrapper'>
    <div id='site-title'>
      jpk.io
    </div>
    <div id='site-subtitle'>
      a simple url shortener.
    </div>
    <%= yield %>
  </div>
</body>
</html>
